.password-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #004d40;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.password-container h2 {
  margin-top: 0;
}

.password-container label {
  display: block;
  margin-bottom: 5px;
}

.password-container input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #004d40;
  border-radius: 5px;
}

.password-container button {
  width: 100%;
  padding: 10px;
  background-color: #004d40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.password-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}
