.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 40px 20px 20px;
  overflow-x: hidden;
}

.register-content {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container label {
  margin-bottom: 5px;
}

.register-container input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-container button {
  padding: 10px;
  background-color: #00796b;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-container button:hover {
  background-color: #004d40;
}
